<h3>Inventories</h3>

<% if !params[:warehouse].blank? %>
  <% @inventories = current_company.inventories.where(warehouse_id: params[:warehouse]) %>
<% end %>

<div>
  <h3>Filter posts:</h3>
  <%= form_tag("/inventories", method: "get") do %>
    <%= select_tag "warehouse", options_from_collection_for_select(active_warehouses, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>


<table>
  <thead>
    <tr>
      <th>Warehouse Name</th>
      <th>SKU</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Total Inventory Value</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.warehouse.name %></td>
        <td><%= inventory.product.sku %></td>
        <td><%= inventory.product.name %></td>
        <td><%= inventory.quantity %></td>
        <td><%= number_to_currency(inventory.total_value) %></td>
      </tr>
    <% end %>
  </tbody>
</table>