<%= form_with(model: employee, local: true) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h3>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id, "User: " %>
    <%= f.collection_select :user_id, @users, :id, :email, prompt: true %><br/>
  </div>

  <%= f.hidden_field :company_id, value: current_company.id %>

  <div class="field">
    <%= f.label :job_title, "Job Title: " %>
    <%= f.text_field :job_title %>
  </div>

  <% if current_page?(action: :new) %>
    <%= f.hidden_field :active, value: true %>
  <% elsif current_page?(action: :edit) %>
    <div class="field">
      <%= f.label :active, "Active?" %>
      <%= f.hidden_field :active, value: 0 %>
      <%= f.check_box :active %><br/>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>