<p id="notice"><%= notice %></p>

<h3>Purchase Orders</h3>

<table>
  <thead>
    <tr>
      <th>Supplier Account Name</th>
      <th>Reference Number</th>
      <th>PO From</th>
      <th>Purchase Order To</th>
      <th>Ship To</th>
      <th>Comment</th>
      <th>Order Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.supplier.name %></td>
        <td><%= purchase_order.reference %></td>
        <td><%= purchase_order.company_address.name %></td>
        <td><%= purchase_order.account_address.company_name %></td>
        <td><%= purchase_order.warehouse.name %></td>
        <td><%= purchase_order.comment %></td>
        <td><%= purchase_order.order_status.name %></td>
        <td><%= link_to 'View', purchase_order_path(purchase_order) %></td>
        <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase Order', new_purchase_order_path %>