<%= form_with(model: contact, local: true) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h3>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, value: current_company.id %>

  <div class="field">
    <%= f.label :first_name, "First Name: " %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name: " %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :job_title, "Job Title: " %>
    <%= f.text_field :job_title %>
  </div>


  <div class="field">
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone, "Phone: " %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :comment, "Comment: " %>
    <%= f.text_area :comment %>
  </div>  

  <div class="field">
    <%= f.label :active, "Active?" %>
    <%= f.hidden_field :active, value: 0 %>
    <%= f.check_box :active %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>