<p id="notice"><%= notice %></p>

<h3>Company Addresses</h3>

<table>
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Job Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Comment</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.full_name, company_contact_path(contact) %></td>
        <td><%= contact.job_title %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.comment %></td>
        <td><%= check_box "company contact", "active", { checked: contact.active, disabled: true } %></td>
        <td><%= link_to 'Edit', edit_company_contact_path(contact) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Contact', new_company_contact_path %>