<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_contact.full_name %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @company_contact.job_title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company_contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company_contact.phone %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @company_contact.comment %>
</p>

<p>
  <strong>Active?:</strong>
  <%= check_box "company contact", "active", { checked: @company_contact.active, disabled: true } %>
</p>

<%= link_to 'Edit', edit_company_contact_path(@company_contact) %> |
<%= link_to 'Delete', company_contact_path(@company_contact), method: :delete %> |
<%= link_to 'Back', company_contact_path %>
