<%= form_with(model: customer, local: true) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h3>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, value: current_company.id %>

  <div class="field">
    <%= f.label :name, "Account Name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tax_id_number, "Tax ID Number: " %>
    <%= f.text_field :tax_id_number %>
  </div>

  <div class="field">
    <%= f.label :currency_id, "Transaction Currency: " %>
    <%= f.collection_select :currency_id, active_currencies, :id, :name, prompt: true %><br/>
  </div>

  <div class="field">
    <%= f.label :payment_term_id, "Payment Term: " %>
    <%= f.collection_select :payment_term_id, active_payment_terms, :id, :name, prompt: true %><br/>
  </div>

  <div class="field">
    <%= f.label :warehouse_id, "Default Ship From Warehouse: " %>
    <%= f.collection_select :warehouse_id, active_warehouses, :id, :name, prompt: true %><br/>
  </div>

  <div class="field">
    <%= f.label :comment, "Comment: " %>
    <%= f.text_area :comment %>
  </div>  

  <div class="field">
    <%= f.label :active, "Active?" %>
    <%= f.hidden_field :active, value: 0 %>
    <%= f.check_box :active %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>