<%= form_with(model: company, local: true) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h3>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Company Name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :currency_id, "Base Currency: " %>
    <%= f.collection_select :currency_id, @currencies, :id, :name, prompt: true %><br/>
  </div>

  <div class="field">
    <%= f.label :country_id, "Country: " %>
    <%= f.collection_select :country_id, @countries, :id, :name, prompt: true %><br/>
  </div>

  <%= f.hidden_field :active, value: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>






