<p id="notice"><%= notice %></p>

<h3>My Companies</h3>

<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Base Country</th>
      <th>Base Currency</th>
      <th>Number of Users</th>
      <th>Active?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.country.name %></td>
        <td><%= company.currency.name %></td>
        <td><%= company.employees.size %></td>
        <td><%= check_box "company", "active", { checked: company.active, disabled: true } %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
