<%= form_with(model: tag, local: true) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h3>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Tag Name: " %>
    <%= f.text_field :name %>
  </div>

  <%= f.hidden_field :company_id, value: current_company.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

