<p id="notice"><%= notice %></p>

<h3><%= @account.type %> Addresses for <%= @account.name %></h3>

<table>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Attention</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @account_addresses.each do |addr| %>
      <tr>
        <td>
          <% if addr.account.class == Customer %>
            <%= link_to addr.company_name, customer_account_address_path(@account, addr) %>
          <% elsif addr.account.class == Supplier %>
            <%= link_to addr.company_name, supplier_account_address_path(@account, addr) %>
          <% end %>
        </td>
        <td><%= addr.attention %></td>
        <td><%= addr.city %></td>
        <td><%= addr.state %></td>
        <td><%= addr.email %></td>
        <td><%= addr.phone %></td>
        <td><%= check_box "company address", "active", { checked: addr.active, disabled: true } %></td>
        <td>
          <% if addr.account.class == Customer %>
            <%= link_to 'Edit', edit_customer_account_address_path(@account, addr) %></td>
          <% elsif addr.account.class == Supplier %>
            <%= link_to 'Edit', edit_supplier_account_address_path(@account, addr) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @account.class == Customer %>
  <%= link_to 'New Customer Address', customer_account_addresses_path(@account) %>
<% elsif @account.class == Supplier %>
  <%= link_to 'New Supplier Address', supplier_account_addresses_path(@account) %>
<% end %>

<br/>

<% if @account.class == Customer %>
  <%= link_to 'Back', customer_path(@account) %>
<% elsif @account.class == Supplier %>
  <%= link_to 'Back', supplier_path(@account) %>
<% end %>