<p id="notice"><%= notice %></p>

<p>
  <strong>Business Name:</strong>
  <%= @account_address.company_name %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @account_address.attention %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @account_address.address_line_1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @account_address.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @account_address.city %>
</p>

<p>
  <strong>State/Province:</strong>
  <%= @account_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @account_address.country.name %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @account_address.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account_address.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account_address.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @account_address.fax %>
</p>

<p>
  <strong>Active?:</strong>
  <%= check_box "company address", "active", { checked: @account_address.active, disabled: true } %>
</p>

<%= link_to 'Edit', edit_customer_account_address_path(@account, @account_address) %> |
<%= link_to 'Delete', customer_account_address_path(@account, @account_address), method: :delete %> |
<%= link_to 'Back', customer_account_addresses_path(@account) %>
