<p id="notice"><%= notice %></p>

<h3>Product Categories</h3>

<table>
  <thead>
    <tr>
      <th>Product Category Name</th>
      <th>Active?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.name %></td>
        <td><%= check_box "product_category", "active", { checked: product_category.active, disabled: true } %></td>
        <td>
          <% if product_category.active? %>
            <%= button_to "Deactivate", { action: "switch" }, method: :put, params: { id: product_category.id } %>
          <% else %>
            <%= button_to "Activate", { action: "switch" }, method: :put, params: { id: product_category.id } %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_product_category_path(product_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freight Term', new_product_category_path %>