<p id="notice"><%= notice %></p>

<h3>Countries</h3>

<table>
  <thead>
    <tr>
      <th>Country Name</th>
      <th>Alpha 2 Code</th>
      <th>Alpha 3 Code</th>
      <th>Numeric Code</th>
      <th>Active?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.alpha_2_code %></td>
        <td><%= country.alpha_3_code %></td>
        <td><%= country.numeric_code %></td>
        <td><%= check_box "country", "active", { checked: country.active, disabled: true } %></td>
        <td>
          <% if country.active? %>
            <%= button_to "Deactivate", { action: "switch" }, method: :put, params: { id: country.id } %>
          <% else %>
            <%= button_to "Activate", { action: "switch" }, method: :put, params: { id: country.id } %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>