<%= form_with(model: addr, local: true) do |f| %>
  <% if addr.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(addr.errors.count, "error") %> prohibited this addr from being saved:</h3>

      <ul>
      <% addr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, value: current_company.id %>

  <div class="field">
    <%= f.label :name, "Business Name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :attention, "Attention: " %>
    <%= f.text_field :attention %>
  </div>

  <div class="field">
    <%= f.label :address_line_1, "Address Line 1: " %>
    <%= f.text_field :address_line_1 %>
  </div>

  <div class="field">
    <%= f.label :address_line_2, "Address Line 2: " %>
    <%= f.text_field :address_line_2 %>
  </div>

  <div class="field">
    <%= f.label :city, "City: " %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state, "State/Province: " %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :country_id, "Country: " %>
    <%= f.collection_select :country_id, @countries, :id, :name, prompt: true %><br/>
  </div>

  <div class="field">
    <%= f.label :postal_code, "Postal Code: " %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :phone, "Phone: " %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :fax, "Fax: " %>
    <%= f.text_field :fax %>
  </div>  

  <div class="field">
    <%= f.label :active, "Active?" %>
    <%= f.hidden_field :active, value: 0 %>
    <%= f.check_box :active %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>