<p id="notice"><%= notice %></p>

<p>
  <strong>Business Name:</strong>
  <%= @company_address.name %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @company_address.attention %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @company_address.address_line_1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @company_address.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company_address.city %>
</p>

<p>
  <strong>State/Province:</strong>
  <%= @company_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company_address.country.name %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @company_address.postal_code %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company_address.fax %>
</p>

<p>
  <strong>Active?:</strong>
  <%= check_box "warehouse", "active", { checked: @company_address.active, disabled: true } %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@company_address) %> |
<%= link_to 'Delete', warehouse_path(@company_address), method: :delete %> |
<%= link_to 'Back', warehouses_path %>
