<%= form_with(model: product, local: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h3>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku, "Product SKU: " %>
    <%= f.text_field :sku %>
  </div>

  <div class="field">
    <%= f.label :name, "Product Name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :unit_of_measure_id, "Unit of Measure: " %>
    <%= f.collection_select :unit_of_measure_id, active_uoms, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :product_group_id, "Product Group: " %>
    <%= f.collection_select :product_group_id, active_product_groups, :id, :name_with_category, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :name, "Product Name: " %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :active, "Active?" %>
    <%= f.hidden_field :active, value: 0 %>
    <%= f.check_box :active %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

