<p id="notice"><%= notice %></p>

<h3>Warehouses</h3>

<table>
  <thead>
    <tr>
      <th>Warehouse Name</th>
      <th>Attention</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= link_to warehouse.name, warehouse_path(warehouse) %></td>
        <td><%= warehouse.attention %></td>
        <td><%= warehouse.city %></td>
        <td><%= warehouse.state %></td>
        <td><%= warehouse.email %></td>
        <td><%= warehouse.phone %></td>
        <td><%= check_box "warehouse", "active", { checked: warehouse.active, disabled: true } %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>