<p id="notice"><%= notice %></p>

<p>
  <strong>Warehouse Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @warehouse.attention %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @warehouse.address_line_1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @warehouse.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @warehouse.city %>
</p>

<p>
  <strong>State/Province:</strong>
  <%= @warehouse.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @warehouse.country.name %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @warehouse.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @warehouse.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @warehouse.fax %>
</p>

<p>
  <strong>Active?:</strong>
  <%= check_box "warehouse", "active", { checked: @warehouse.active, disabled: true } %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Delete', warehouse_path(@warehouse), method: :delete %> |
<%= link_to 'Back', warehouses_path %>
