<p id="notice"><%= notice %></p>

<h3>Customers</h3>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Reference Number</th>
      <th>Payment Term</th>
      <th>Ship From Warehouse</th>
      <th>Comment</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= link_to sales_order.name, sales_order_path(sales_order) %></td>
        <td><%= sales_order.currency.name %></td>
        <td><%= sales_order.payment_term.name %></td>
        <td><%= sales_order.warehouse.name %></td>
        <td><%= sales_order.comment %></td>
        <td><%= check_box "sales_order", "active", { checked: sales_order.active, disabled: true } %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Order', new_sales_order_path %>